<div style="background-color: #fafafa;" class="m-t-20">
  <ul class="nav nav-tabs" style="margin-bottom: 25px; width:100%;">
    <li class="nav-item"><a class="nav-link" routerLink="../"><i class="fa fa-chevron-left"></i> </a></li>
    <li class="nav-item"><a class="nav-link" routerLink="view" routerLinkActive="active">Contact Information</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="listing" routerLinkActive="active"><i class="sl-icon-list"></i> Matched Listings</a></li>

    <li class="nav-item"><a class="nav-link" routerLink="edit" routerLinkActive="active"><i class="sl-icon-pencil"></i> Edit</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="delete" routerLinkActive="active"><i class="sl-icon-trash"></i></a></li>
  </ul>
  <div class="clearfix"></div>
  </div>
  <router-outlet></router-outlet>